*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #f5f5f5;
    width: 600px;
    font-family: 'Smythe', system-ui;
    box-sizing: none;
    
}
#app-container{
    background-color: #ffffff;
    margin-top: 0;
    padding-top: 0;
    /* width: 505px; */
    /* margin: 0 auto; */
    /* padding: 75px */
}


menu{
    
    /* margin: 0 auto;
    display: flex;
    justify-content: center; */
}

menu_item {
    
    height: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    border-bottom: solid 1px #D2D2D2;
}
.menu-info{
    width: 358px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.menu-info h2, 
.menu-info p, 
.menu-info h3
{margin-bottom: 4px;
margin-top: 5px;
}

.emoji-icon {
    font-size: 78px
}
h2{
    font-size: 28px;
    line-height: 16.8px;

    font-weight: 400;
}
h3{
    font-size: 20px;
    line-height: 24px;

}
.inner-p{
    font-size: 16px;
    color: #8B8B8B;
    line-height: 24px;

}

button{
    all:unset
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 504px;
    margin: 0 auto;
    color: #065F46;
    background-color: #ECFDF5;
    text-align: center;
    font-size: 32px;
}

.order-summary{
    margin-top: 50px;
}

.order-summary--detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.order-summary--title{
    text-align: center;
}

.remove-label{
    font-size: 16px;
    color: #8B8B8B;
    line-height: 24px;
}
.order-summary--total{
    border-top: 2px solid #393333;
    margin-bottom: 15px;
    padding-left: 15px;
}